{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
rel="stylesheet"
type="text/css"
href="{% static 'css/finches/index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Finches List</h1>
</section>

<section class="card-container">
  {% for finch in finches %}
    <div class="card">
      <a href="{% url 'finch-detail' finch.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if 'Finch' in finch.name or 'finch' in finch.name %}
            <img 
              src="{% static 'images/finch.jpg' %}" 
              alt="A Generic Finch"
            >
            {% elif 'Pigeon' in finch.name %}            
            <img 
              src="{% static 'images/pigeon.png' %}" 
              alt="A Generic Finch"
            >
            {% endif %}
          </div>
          <h2 class="card-title">The {{ finch.name }}</h2>
            <p>Has a {{ finch.beak }} and eats {{ finch.diet }}</p>
            <p>Can be found {{ finch.habitat }}.</p>
          <p><small>{{ finch.description }}</small></p>
        </div>      
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}